@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


<!--
  This example requires Tailwind CSS v2.0+

  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
	// ...
	plugins: [
	  // ...
	]
  }
  ```
-->
<div ng-controller="ConsumerController">

	<div class="hidden sm:block" aria-hidden="true">
		<div class="py-5">
			<div class="border-t border-gray-200"></div>
		</div>
	</div>

	<div>
		<div class="md:grid md:grid-cols-3 md:gap-6">
			<div class="md:col-span-1">
				<div class="px-4 sm:px-0">
					<h3 class="text-lg font-medium leading-6 text-gray-900">Adicionar</h3>
					<p class="mt-1 text-sm text-gray-600">
						Aqui você adiciona um novo worker
					</p>
				</div>
			</div>
			<div class="mt-5 md:mt-0 md:col-span-2">
				<form action="#" method="POST">
					<div class="shadow overflow-hidden sm:rounded-md">
						<div class="px-4 py-5 bg-white sm:p-6">
							<div class="grid grid-cols-6 gap-6">
								<div class="col-span-6 sm:col-span-3">
									<label for="size" class="block text-sm font-medium text-gray-700">Instancias</label>
									<input type="text" name="size" id="size" ng-model="newConsumer.size" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
								</div>

								<div class="col-span-6 sm:col-span-3">
									<label for="messagesPerSecond" class="block text-sm font-medium text-gray-700">Requests/s</label>
									<input type="number" min="1" max="100000" name="messagesPerSecond" id="messagesPerSecond" ng-model="newConsumer.messagesPerSecond" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
								</div>

							</div>
						</div>
						<div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
							<button type="button" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-200 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
								Cancelar
							</button>
							<button ng-click="add(newConsumer)" type="button" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
								Adicionar Processadores
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>







	<!-- This example requires Tailwind CSS v2.0+ -->
	<div>
		<h3 class="text-lg leading-6 font-medium text-gray-900">
			Métricas de Publicação
		</h3>

		<dl class="mt-5 grid grid-cols-2 gap-5">
			<div class="relative bg-white pt-5 px-4 pb-12 sm:pt-6 sm:px-6 shadow rounded-lg overflow-hidden border-2 border-red-600">
			<dt>
				<div class="absolute bg-red-600 rounded-md p-3">
					<!-- Heroicon name: outline/users -->
					<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 3v2m6-2v2M9 19v2m6-2v2M5 9H3m2 6H3m18-6h-2m2 6h-2M7 19h10a2 2 0 002-2V7a2 2 0 00-2-2H7a2 2 0 00-2 2v10a2 2 0 002 2zM9 9h6v6H9V9z" />
					</svg>
				</div>
				<p class="ml-16 text-sm font-medium text-gray-500 truncate">Workers (Qtd)</p>
			</dt>
			<dd class="ml-16 pb-6 flex items-baseline sm:pb-7">
				<p class="text-2xl font-semibold text-gray-900">
					{{consumers.length}}
				</p>
				@* 	<p class="ml-2 flex items-baseline text-sm font-semibold text-green-600">
		<svg class="self-center flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
		<path fill-rule="evenodd" d="M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
		</svg>
		<span class="sr-only">
		Increased by
		</span>
		122
		</p>
		<div class="absolute bottom-0 inset-x-0 bg-gray-50 px-4 py-4 sm:px-6">
		<div class="text-sm">
		<a href="#" class="font-medium text-indigo-600 hover:text-indigo-500"> View all<span class="sr-only"> Total Subscribers stats</span></a>
		</div>
		</div>*@
			</dd>
	</div>

	<div class="relative bg-white pt-5 px-4 pb-12 sm:pt-6 sm:px-6 shadow rounded-lg overflow-hidden border-2 border-red-600">
		<dt>
			<div class="absolute bg-red-600 rounded-md p-3">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 17h8m0 0V9m0 8l-8-8-4 4-6-6" />
				</svg>
			</div>
			<p class="ml-16 text-sm font-medium text-gray-500 truncate">Capacidade de Consumo (Msg/s)</p>
		</dt>
		<dd class="ml-16 pb-6 flex items-baseline sm:pb-7">
			<p class="text-2xl font-semibold text-gray-900">
				{{total}}
			</p>
			@* <p class="ml-2 flex items-baseline text-sm font-semibold text-green-600">
   	<!-- Heroicon name: solid/arrow-sm-up -->
   	<svg class="self-center flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
   	<path fill-rule="evenodd" d="M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
   	</svg>
   	<span class="sr-only">
   	Increased by
   	</span>
   	5.4%
   	</p>
   	<div class="absolute bottom-0 inset-x-0 bg-gray-50 px-4 py-4 sm:px-6">
   	<div class="text-sm">
   	<a href="#" class="font-medium text-indigo-600 hover:text-indigo-500"> View all<span class="sr-only"> Avg. Open Rate stats</span></a>
   	</div>
   	</div> *@
		</dd>
	</div>


	</dl>
</div>







<!-- This example requires Tailwind CSS v2.0+ -->
<ul class="grid grid-cols-3 gap-6 mt-3">

	<li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200 border-2 border-red-600" ng-repeat="consumer in consumers" ng-cloak>
		<div class="w-full flex items-center justify-between p-6 space-x-6">
			<svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 3v2m6-2v2M9 19v2m6-2v2M5 9H3m2 6H3m18-6h-2m2 6h-2M7 19h10a2 2 0 002-2V7a2 2 0 00-2-2H7a2 2 0 00-2 2v10a2 2 0 002 2zM9 9h6v6H9V9z" />
			</svg>
			<div class="flex-1 truncate">
				<div class="flex items-center space-x-3">
					<h3 class="text-gray-900 text-sm font-medium truncate">Worker Process {{consumer.id.split('-')[0]}}</h3>
				</div>
				<p class="mt-1 text-gray-500 text-xs truncate ">{{consumer.id}}</p>
				<p class="mt-1 text-gray-500 text-sm ">{{consumer.consumerTag}}</p>
			</div>


		</div>
		<div>
			<div class="-mt-px flex divide-x divide-gray-200">
				<div class="w-0 flex-1 flex">
					<a href="javascript:void(0)" class="relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-bl-lg hover:text-gray-500 opacity-0 hover:opacity-100" ng-click="deleteConsumer(consumer)">
						<!-- Heroicon name: solid/mail -->

						<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 10a1 1 0 011-1h4a1 1 0 011 1v4a1 1 0 01-1 1h-4a1 1 0 01-1-1v-4z" />
						</svg>
						<span class="ml-3 text-red-600">Delete</span>
					</a>
				</div>
				<div class="-ml-px w-0 flex-1 flex">
					<a href="" class="relative w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-br-lg hover:text-gray-500">
						<!-- Heroicon name: solid/phone -->
						<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 8v8m-4-5v5m-4-2v2m-2 4h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
						</svg>
						<span class="ml-3">{{consumer.messagesPerSecond}} m/s</span>
					</a>
				</div>
			</div>
		</div>
	</li>




	<!-- More people... -->
</ul>

</div>
@{
}
