@{
    ViewData["Title"] = "Home Page";

    ViewData["Controller"] = "Home";
}




<main class="flex-1 relative overflow-y-auto focus:outline-none">
    <div class="py-6">
        <div class="max-w-full mx-auto px-4 sm:px-6 md:px-8">
            <h1 class="text-2xl font-semibold text-gray-900">gaGO.io</h1>
        </div>
        <div class="max-w-full mx-auto px-4 sm:px-6 md:px-8">
            <!-- Replace with your content -->
            <div class="py-4">
                <div class="border-4 border-dashed border-gray-200 rounded-lg ">


                    <!-- This example requires Tailwind CSS v2.0+ -->
                    <div class="py-12 bg-white">
                        <div class=" mx-auto px-4 sm:px-6 lg:px-8">
                            <div class="lg:text-center">
                                <h2 class="text-base text-indigo-600 font-semibold tracking-wide uppercase">Análise</h2>
                                <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
                                    Comportamento de Processamento Assíncrono
                                </p>
                                <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
                                    Aqui coordenamos cargas de trabalho e consumo de forma interativa.
                                </p>
                            </div>

                            <div class="mt-10">
                                <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
                                    <div class="relative">
                                        <dt>
                                            <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
                                                </svg>
                                            </div>
                                            <p class="ml-16 text-lg leading-6 font-medium text-gray-900">Carga de Trabalho</p>
                                        </dt>
                                        <dd class="mt-2 ml-16 text-base text-gray-500">
                                            Aqui simulamos aumento de requests por segundo, seja por uma massa de usuários, clientes consumindo nossas API's, períodos do mês etc.
                                        </dd>

                                        <partial name="_Publishers" />
                                    </div>


                                    <div class="relative">
                                        <dt>
                                            <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 3v2m6-2v2M9 19v2m6-2v2M5 9H3m2 6H3m18-6h-2m2 6h-2M7 19h10a2 2 0 002-2V7a2 2 0 00-2-2H7a2 2 0 00-2 2v10a2 2 0 002 2zM9 9h6v6H9V9z" />
                                                </svg>
                                            </div>
                                            <p class="ml-16 text-lg leading-6 font-medium text-gray-900">Unidade de processamento</p>
                                        </dt>
                                        <dd class="mt-2 ml-16 text-base text-gray-500">
                                            Aqui simulamos o aumento de capacidade de processamento, seja por alocação de mais hardware, otimização de operações etc.
                                        </dd>

                                        <partial name="_Consumers" />
                                    </div>



                                </dl>
                            </div>
                        </div>
                    </div>





                </div>
            </div>
            <!-- /End replace -->
        </div>
    </div>
</main>